/* Myleigha Fairchild, KAR2058498, CIS233DA #14481 */



html, body {
    margin: 0px;
	background-color: #FFFFFF; color: #666666; 
    font-family: "Times New Roman", Times, serif;
}

#mobile  { display: inline; }

#desktop { display: none; }

#wrapper-main {
    background-image: url("bk6.jpg");
    background-repeat: no-repeat;
    padding-top: 20px;
    background-size: cover;
    background-position: center;
    background-origin: inherit;
}

#wrapper {
	min-width: 960px; width: 60%;
    box-shadow: 3px 3px 3px grey;
	margin-right: auto;
	margin-left: auto;
    background-color: #009999;
}

 .nav {
 	font-weight: bold;
    padding: 5px;
    float: left;
    width: 160px;
    padding-top: 20px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
}

.nav a { text-decoration: none; }

.nav a:link { color: #000033;}
.nav a:visited { color: #000033; }
.nav a:hover { color: #ffffff; }

.nav ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}


.sns {
	color: #000033;
	font-size: 1.2em;
    text-align: center;
}

h1 {
	background-color: #000033; color: #FFFFFF; 
	line-height: 200%;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    background-image: url("sunset.jpg"); 
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: right;
    padding-left: 20px;
    margin:0px;
}

logo  { 
    align-items: center;
    padding-right: 50px;
    padding-left: 40px;
}


h3 {
    color: #000033;
}
 

h2 {
	color: #cc0000;
	font-family: Georgia,"Times New Roman", serif;
}

#content {
    background-color: #FFFFFF;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 1px;
    margin-left: 160px;
}

#content img { 
    float: left;
    margin: 10px;
}

#content ul {
    list-style-position: inside;
}

#content video {
    float: left;
    margin: 10px;
}

#content embed {
    float: left;
    padding-right: 20px;
}


dt {
    color: #000033;
}
  
table { border: 1px solid #009999;
        width: 600px;
		border-spacing: 0; 
}

td, th { padding: 5px; 
         border: 1px solid #3399cc;
         text-align: center;
}


.text { text-align: left; }


tr:nth-of-type(even) { background-color:#F5FAFC; }


#gallery { position: relative; }

#gallery a:hover span { display: block;
    position: absolute;
    top: 10px;
    left: 340px;
    text-align: center;
}

#gallery ul { width: 300px; 
    list-style-type: none;
}

#gallery li  { display: inline;
    float: left;
    padding: 10px;
}

#gallery img { border-style: none;
    float: none;
}

#gallery a { text-decoration: none;
    color: #333;
    font-style: italic;
}

#gallery span  {display: none; }

.clear {
    clear: both;
}

#footer {
	font-size: .70em;
	font-style: italic;
	text-align: center;
    clear: both;
}

form { padding-bottom: 30px; }

label {
    width: 120px;
    float: left;
    display: block;
    text-align: right;
    padding-right: 40px; 
}

input, textarea { 
    margin-bottom: 20px; 
    display: block;
}

#mySubmit {
    margin-left: 130px;
}